<div class="home-logo">
  <a href="/">
    <img
      src="/assets/imagenes/terranova2.png"
      alt="Terranova Arquitectura"
      class="home-brand-logo"
    />
  </a>
</div>

<nav class="home-nav">
  <a href="#estudio" class="nav-link">estudio</a>
  <a href="#contacto" class="nav-link">contacto</a>
</nav>

<div class="horizontal-line"></div>